{% extends 'layout.njk'%}
{% block content %}
<header>
    <div class="title-header">
        <h1>
            CallMe!?
        </h1>
    </div>
</header>
<section>
    <div class="search-call">
        <div class="input-calls">
            <input type="text" placeholder="Buscar chamado">
            <div class="btn-search">
                <img src="/src/search.png" alt="">
            </div>
        </div>
    </div>
    <div class="container swiper mySwiper">
        <div class="content swiper-wrapper">
            <div class="card swiper-slide">
                <div class="card-content">
                    <div class="image">
                        <img src="/src/database.png" alt="">
                        <span class="indicative-card">
                            Novo
                        </span>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <h1>
                                [Nome do cliente] - Ocorrência - Descrição do Problema
                            </h1>
                        </div>
                        <div class="card-information">
                            <div class="card-place">
                                <p>
                                    Goiânia - GO</p>
                            </div>
                            <div class="card-date">
                                <p>
                                    19/06/2022</p>
                            </div>
                        </div>
                        <div class="card-situation">
                            <div class="open">
                                <span></span>
                            </div>
                            <div class="closed">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card-content">
                    <div class="image">
                        <img src="/src/database.png" alt="">
                        <span class="indicative-card">
                            Novo
                        </span>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <h1>
                                [Nome do cliente] - Ocorrência - Descrição do Problema
                            </h1>
                        </div>
                        <div class="card-information">
                            <div class="card-place">
                                <p>
                                    Goiânia - GO</p>
                            </div>
                            <div class="card-date">
                                <p>
                                    19/06/2022</p>
                            </div>
                        </div>
                        <div class="card-situation">
                            <div class="open">
                                <span></span>
                            </div>
                            <div class="closed">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card-content">
                    <div class="image">
                        <img src="/src/database.png" alt="">
                        <span class="indicative-card">
                            Novo
                        </span>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <h1>
                                [Nome do cliente] - Ocorrência - Descrição do Problema
                            </h1>
                        </div>
                        <div class="card-information">
                            <div class="card-place">
                                <p>
                                    Goiânia - GO</p>
                            </div>
                            <div class="card-date">
                                <p>
                                    19/06/2022</p>
                            </div>
                        </div>
                        <div class="card-situation">
                            <div class="open">
                                <span></span>
                            </div>
                            <div class="closed">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card-content">
                    <div class="image">
                        <img src="/src/database.png" alt="">
                        <span class="indicative-card">
                            Novo
                        </span>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <h1>
                                [Nome do cliente] - Ocorrência - Descrição do Problema
                            </h1>
                        </div>
                        <div class="card-information">
                            <div class="card-place">
                                <p>
                                    Goiânia - GO</p>
                            </div>
                            <div class="card-date">
                                <p>
                                    19/06/2022</p>
                            </div>
                        </div>
                        <div class="card-situation">
                            <div class="open">
                                <span></span>
                            </div>
                            <div class="closed">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card-content">
                    <div class="image">
                        <img src="/src/database.png" alt="">
                        <span class="indicative-card">
                            Novo
                        </span>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <h1>
                                [Nome do cliente] - Ocorrência - Descrição do Problema
                            </h1>
                        </div>
                        <div class="card-information">
                            <div class="card-place">
                                <p>
                                    Goiânia - GO</p>
                            </div>
                            <div class="card-date">
                                <p>
                                    19/06/2022</p>
                            </div>
                        </div>
                        <div class="card-situation">
                            <div class="open">
                                <span></span>
                            </div>
                            <div class="closed">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card-content">
                    <div class="image">
                        <img src="/src/database.png" alt="">
                        <span class="indicative-card">
                            Novo
                        </span>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <h1>
                                [Nome do cliente] - Ocorrência - Descrição do Problema
                            </h1>
                        </div>
                        <div class="card-information">
                            <div class="card-place">
                                <p>
                                    Goiânia - GO</p>
                            </div>
                            <div class="card-date">
                                <p>
                                    19/06/2022</p>
                            </div>
                        </div>
                        <div class="card-situation">
                            <div class="open">
                                <span></span>
                            </div>
                            <div class="closed">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <div class="card-btn-create">
        <span>
            <img src="/src/plus.png" alt="Novo chamado">
        </span>
    </div>
</section>
{%endblock%}